# SPDX-FileCopyrightText: 2021 Orcro Ltd. team@orcro.co.uk 
# 
# SPDX-License-Identifier: Apache-2.0
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
